@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;500&display=swap');


#userform {
  background-image: url('../../assets/images/live spaces.PNG');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.userform-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.userform-links,
.userform-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.userform-links h2 {
  font-family: 'Playfair Display', serif;
}
.userform-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

.userform-form-wrapper h2 {
  color: #1f2e43;
  letter-spacing: 6px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  padding-bottom: 5%;
  font-family: 'Playfair Display', serif;
}


.download-file {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.download-file a{
  margin-bottom: 5%;
  background-color: #1f2e43;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .userform-links,
  .userform-form-wrapper {
    width: 100%;
  }

  .userform-links {
    border-radius: 10px 10px 0 0;
  }

  .userform-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .userform-box {
    width: 95%;
    margin: 8% 5%;
  }
}

h2 {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
}


img {
  transition: 0.2s;
  user-select: none;
}

img:active {
  transform: scale(1.1, 1.1);
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
  position: relative;
  padding-bottom: 10px;
}

label,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.form-item label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.submit-btn {
  margin-top: 20%;
  background-color: #2f3542;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }



}