@import "../../assets/cssHelpers/variables";
.left-container {
  margin: 0 auto;
}
@media (min-width: $xs) {
  .left-container {
    width: 100%;
    padding-left: 1rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $sm) {
  .left-container {
    max-width: 720px;
    margin: 0 0 0 auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $md) {
  .left-container {
    margin: 0 0 0 auto;
    max-width: 960px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: $lg) {
  .left-container {
    margin: 0 0 0 auto;
    max-width: 1140px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: $xxl) {
  .left-container {
    margin: 0 0 0 auto;
    max-width: 1320px;
  }
}
