.about {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  //min-height: 815px;
  height: 900px;
  overflow: hidden;
}
.about-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.line {
  display: block;
  width: 15%;
  height: 5px;
  background-color: #cfa87a;
}
.about-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5em;

  color: #cfa87a;
  text-transform: uppercase;
  padding: 1rem 0;
}
.about-content {
  //max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  //padding: 0 130px 0 300px;
}
.about-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  padding: 1rem 0;
}
.image-wrapper {
  display: flex;
  overflow: hidden;
  flex: 1;
  height: 100%;
  position: absolute;
  right: -10%;
  width: 50%;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
@media (max-width: 768px) {
  .about-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
  }
  .about-container {
  }
  .image-wrapper {
    justify-content: flex-end;
    display: flex;
    position: unset;
    width: 100%;
    height: 50%;
    position: relative;
    right: -20px;
  }
  .about-content {
    width: 100%;
    position: relative;
    top: 0;
    display: block;
  }
  .about {
    .mycontainer {
      flex-direction: column;
    }
  }
}
@media (min-width: 992px) {
  .image-wrapper {
    display: flex;
    overflow: hidden;
    flex: 1 1;
    height: 80%;
    position: absolute;
    right: -10%;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
