.whatTheyDo {
  padding: 162px 0 162px 300px;
  display: flex;
  position: relative;
  overflow: hidden;
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.5em;

    color: #cfa87a;
    text-transform: uppercase;
    padding: 24px 0;
  }
  .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;

    color: #452129;
    padding: 40px 0;
  }
  .left-side {
    flex: 1;
  }
  .right-side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    flex: 2;
    display: flex;
    //overflow: scroll;
    border: 1px solid rebeccapurple;
    .item {
      position: relative;

      min-width: 300px;
      border: 1px solid darkblue;
    }
  }
  .line {
    width: 30%;
  }
  button {
    position: relative;
    z-index: 2;
  }
}
