


  .container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  .brand{
    text-align: center;
  }

  .brand span{
    color: #fff;
  }


  .wrapper > *{
    padding: 1em;
  }

  .company-info{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 78px;
      color: #452129;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      color: #C4C4C4;
    }
  }

  .company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .contact{
    background: transparent;
  }

  /* form styles */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .contact form label{
    display: block;
  }

  .contact form p{
    margin: 0;
    label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #452129;
    }
    input {
      border: none;
      border-bottom: 2px solid #E5E5E5;
    }
  }

  .contact form .full{
    grid-column: 1 / 3;
  }

  .contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 2px solid #E5E5E5;
  }

  .contact form button{
    width: 237px;
    height: 55px;
    background: #CFA87A;
    box-shadow: 0px 20px 19px -13px rgba(207, 168, 122, 0.4);
    border-radius: 8px;
    color: white;
    border: none;
  }

  .contact form button:hover, .contact form button focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
  }

.brochures {
  display: flex;
  justify-content: center;
}
.download-btn {
  width: 160px;
  height: 55px;
  padding: 15px 32px;
  background: #CFA87A;
  box-shadow: 0px 20px 19px -13px rgba(207, 168, 122, 0.4);
  border-radius: 8px;
  color: white;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
}

  /* large screens */
  @media(min-width: 700px){

    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
      padding: 2em;
    }

    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }

  @media screen and (max-width: 900px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr;
    }
    .wrapper > *{
      padding: 1em;
    }
    .company-info h3, .company-info ul, .brand{
      text-align: center;
    }
    .company-info {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 3rem;
        line-height: 60px;
      }
      p {
        font-size: 1rem;
        line-height: 20px;
      }
    }
    .contact form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .phone-input {
      margin-bottom: 3%;
    }

  }